<%- include('header') %>
  <form method="GET" action="/cotacao" id="form">
    <div class="form-group">
      <label for="formGroupExampleInput">Cotação dólar</label>
      <input type="text" name="quotation" class="form-control" id="formGroupExampleInput" value="<%= quotation %>">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Quantidade de dólares</label>
      <input type="text" name="amount" class="form-control" id="formGroupExampleInput">
    </div>
    <a href="#" class="btn btn-xs red">
      <button>
        <span class="fa fa-home"></span>
        Converter
      </button>
    </a>
  </form>
</section>
<%- include('footer') %>
