<%- include('header') %>
  <form method="GET" action="/cotacao">
    <input name="quotation" placeholder="Cotação dolar" value="<%= quotation %>"><br>
    <input name="amount" placeholder="Quantidade dolares"><br>
    <button>Converter!</button>
  </form>
</section>
<%- include('footer') %>
