* {
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background: #000;
}

h1 img {
  width: 350px;
  margin: 20px 0;
}

input {
  border: 1px solid #bdbdbd;
  width: 300px;
  height: 45px;
  border-radius: 6px;
  background: #fdfdfd;
  font-size: 14px;
  padding: 10px;
  margin: 4px;
}

button {
  border: 1px solid #43a047;
  background: #fff;
  font-weight: bold;
  color: #43a047;
  width: 300px;
  height: 45px;
  border-radius: 6px;
  font-size: 14px;
  padding: 10px;
  margin: 4px;
  transition-duration: 0.4s;
}

button:hover {
  background: #43a047;
  color: #fff;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #fff;
  border-radius: 6px;
  padding: 20px;
  margin-top: 20px;
}

.result {
  padding: 10px;
  border: 1px solid #d8d8d8;
  background: #fdfdfd;
}